# LangChain Core
langchain
langchain-core
langchain-community

#open Ai integration
langchain-openai
groq

# Google gemini api key 
langchain-google-genai
google-generativeai


# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
